@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap: 400, 500, 600, 700|Josefin+Sans&display=swap|Balsamiq+Sans:400, 500, 600, 700');
body{
    background-color: #06061A;
    margin: 0 auto;
    font-family: 'Noto Serif', serif;
}

h1, 
p{
    margin:0;
}
.materialize-override, 
a {
    font-weight: 700;
    font-size: 200%;
    margin: 0 auto;
    text-decoration: none;
    color: #DCAE0B;
}

.font-size{
    font-size: 120%;
    line-height: 1.2;
}

.maroon-box{
    background-color: #5A0A0A;
    width: 220px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.navigation{
    height: 100px;
    background-color: #182F1A;
    /* position: fixed; */
    display: flex;
    padding: 10px 0;
}

.logo{
    font-size: 150%;
    width: 75%;
    line-height: 75px;
    margin-left: 10px;
}

.addmovie-container{
    line-height: 45px;
    padding-top: 20px;
    width: 25%;
    display: flex;
    justify-content: center;
}

.title{
    margin-top: 150px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    font-size: 200%;
    font-family: 'Josefin Sans', sans-serif;
}

.explore-container{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}
/* -------------------------------FOOTER------------------------------- */
footer{
    display: flex;
    margin: 0 0;
    padding: 0 10px;
    background-color: #182F1A;  
}

.footer-text{
    width: 70%
}
.footer-icons{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.social-icons{
    margin-left: 10px;
    margin-right: 10px;
}

/* -------------------------------INDEX.HTML--------------------------- */
/* -------------------CALENDER SECTION------------------ */
.page-line{
    height: 10px;
    background-color: #182F1A;
    margin-bottom: 20px;
}

.calendar-header{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#calendar-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#calendar{
    width: 90%;
    background-color: #E3E3E3;
    border-radius: 5px;
    border: 3px solid #182F1A;
}

#calendar-nav{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0 30px;
    text-shadow: 1px 1px 1px #000000;
    border-bottom: 3px solid #000000;
}

.fa-chevron-left{
    margin-top: 25px;
    margin-right: 70px;
    cursor: pointer;
    font-size: 2.5em;
}

.fa-chevron-right{
    margin-top: 25px;
    margin-left: 60px;
    cursor: pointer;
    font-size: 2.5em;
}

#month h1{
    color: #DCAE0B;
    text-shadow: 1px 2px 1px #000000;
}

#day-labels{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 3px solid #000000;
}
 .week-days{
    width: 14.2%;
    display: flex;
    justify-content: center;

}

#calendar-days{
    width: 100%;
}

.calendar-cell{
    width: 14%;
    height: 120px;
    border-bottom: 3px solid #000000;
    border-right: 3px solid #000000;
    
}

.date-text{
    font-size: 120%;
    position: relative;
    top: -34px;
    cursor: pointer;
    width: 20px;
}

.calendar-image{
    width: 50px;
}

/* -------------------------------ADDMOVIE.HTML--------------------------- */
#add-movie-container{
    margin: 20px 0 20px 8%;
}

#add-movie-form{
    width: 90%;
    background-color: #E3E3E3;
    padding: 20px 10px 10px;
    border-radius: 10px 10px 0 0;
}

.input-field{
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 700;
}

input,
textarea{
    font-family: 'Balsamiq Sans', cursive;
}

/* #submit-container{
    display: flex;
    justify-content: center;
} */

#add-submit{
    border-radius: 0 0 10px 10px;
}

.form-styling{
    display: flex;
    width: 90%;
    background-color: #E3E3E3;
    padding-bottom: 20px;   
}

#notification-box{
    padding-left: 21px;
    padding-bottom: 40px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 600;
    font-size: 120%;
}

.add-submit-box{
    width: 50%;
    display: flex;
    justify-content: center;
}

#add-more{
    padding-top: 5px;
}

#add-more,
#submit{
    font-family: 'Noto Serif', serif;
    background-color: #5A0A0A;
    width: 150px;
    height: 45px;
    font-size: 150%;
    border-radius: 10px;
    color: #DCAE0B; 
    text-align: center;
    cursor: pointer;
}

/* -------------------------------FILMS.HTML--------------------------- */
#film-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0px;
}

.film-card{
    margin: 0 20px 40px;
    display: flex;
    width: 21%;
    height: 125px;
    border-radius: 10px;
    background-color: #E3E3E3;
}

.poster-box{
    width: 100px;
    padding: 10px; 
    text-align: center;
}

.poster-box a{
    font-size: 100%;
}

.film-poster{
    width: 70px;
}

.film-info{
    margin: 10px;
}

.film-info p{
    margin: 0;
}

.hidden{
    display: none;
}

.view-more-box{
    padding-top: 10px;
}

.view-more{
    width: 100px;
    background-color: #5A0A0A;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.view-more-text{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 100%;
    margin: 0 auto;
    color: #DCAE0B; 
}

/*------------MODAL------------ */
#modal-background{
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width:100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

#modal-card{
    width: 60%;
    max-height: 400px;
    background: #E3E3E3;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    position: relative;
}

#poster-side{
    min-width: 30%;
}

#expanded-poster-box{
    max-width: 200px;
}

#change-boxes{
    padding: 10px 0;
}

.change-box{
    padding-bottom: 5px; 
}

.change-film{
    width: 100%;
    background-color: #5A0A0A;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

#edit,
.change-text{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 110%;
    margin: 0 auto;
    color: #DCAE0B;    
}

#info-side{
    /* width: 70%; */
    padding: 10px;
}

.expanded-card-elements{
    width: 100%;
    display: flex;
    justify-content: center;
}

.expanded-card-text{
    text-align: center;
    margin: 0 auto;
}

#expanded-card-title{
    font-weight: 600;
}
#expanded-summary-box{
    padding: 10px 0 20px;
}

#required-information-box{
    font-weight: 600;
}

.inline-info-boxes{
    width: 33%;
}

#extra-info{
    display: flex;
}

.extra-info-box{
    width: 50%;
    padding: 10px;
}

.extra-info-text{
    font-size: 90%;
    padding-bottom: 5px;
}

.big-and-bold{
    font-weight: 600;
    font-size: 110%;
}

#close-modal{
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: -5px;
    cursor: pointer;
}