@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap: 400, 500, 600, 700|Josefin+Sans&display=swap|Balsamiq+Sans:400, 500, 600, 700');
body{
    background-color: #06061A;
    margin: 0 auto;
    font-family: 'Noto Serif', serif;
}

h1, 
p{
    margin:0;
}
.materialize-override, 
a {
    font-weight: 700;
    font-size: 200%;
    margin: 0 auto;
    text-decoration: none;
    color: #DCAE0B;
}

.font-size{
    font-size: 120%;
    line-height: 1.2;
}

.maroon-box{
    background-color: #5A0A0A;
    width: 220px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.navigation{
    height: 100px;
    background-color: #182F1A;
    /* position: fixed; */
    display: flex;
    padding: 10px 0;
}

.logo{
    font-size: 150%;
    width: 75%;
    line-height: 75px;
    margin-left: 10px;
}

.addmovie-container{
    line-height: 45px;
    padding-top: 20px;
    width: 25%;
    display: flex;
    justify-content: center;
}

.title{
    margin-top: 150px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    font-size: 200%;
    font-family: 'Josefin Sans', sans-serif;
}

.explore-container{
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}
/* -------------------------------FOOTER------------------------------- */
footer{
    display: flex;
    margin: 0 0;
    padding: 0 10px;
    background-color: #182F1A;  
}

.footer-text{
    width: 70%
}
.footer-icons{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.social-icons{
    margin-left: 10px;
    margin-right: 10px;
}

/* -------------------------------INDEX.HTML--------------------------- */
/* -------------------CALENDER SECTION------------------ */
.page-line{
    height: 10px;
    background-color: #182F1A;
    margin-bottom: 20px;
}

.calendar-header{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#calendar-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#calendar{
    width: 90%;
    background-color: #E3E3E3;
    border-radius: 5px;
    border: 3px solid #182F1A;
}

#month{
    width: 100%;
    padding: 20px 0 30px;
    text-shadow: 1px 1px 1px #000000;
    border-bottom: 3px solid #000000;
    /* margin-bottom: 10px; */
    display: flex;
    justify-content: center;
}

#day-labels{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 3px solid #000000;
}
 .week-days{
    width: 14.2%;
    display: flex;
    justify-content: center;

}

#calendar-days{
    width: 100%;
}

.calendar-cell{
    width: 14%;
    height: 120px;
    border-bottom: 3px solid #000000;
    border-right: 3px solid #000000;
    
}

.calendar-cell-text{
    font-size: 100%
}

/* -------------------------------ADDMOVIE.HTML--------------------------- */
#add-movie-container{
    margin: 20px 0 20px 8%;
}

#add-movie-form{
    width: 90%;
    background-color: #E3E3E3;
    padding: 10px;
}

.input-field{
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 700;
}

input,
textarea{
    font-family: 'Balsamiq Sans', cursive;
}

/* #submit-container{
    display: flex;
    justify-content: center;
} */

#submit{
    font-family: 'Noto Serif', serif;
    background-color: #5A0A0A;
    width: 150px;
    height: 45px;
    margin: 20px 0px 20px 43%;
    font-size: 150%;
    border-radius: 10px;
    color: #DCAE0B; 
}

/* -------------------------------FILMS.HTML--------------------------- */
#film-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0px;
}

.film-card{
    margin: 0 20px 20px;
    display: flex;
    width: 20%;
    height: 125px;
    border-radius: 10px;
    background-color: #E3E3E3;
}

.poster-box{
    width: 100px;
    padding: 10px; 
    text-align: center;
}

.poster-box a{
    font-size: 100%;
}

.film-poster{
    width: 70px;
}

.film-info{
    margin: 10px;
}

.film-info p{
    margin: 0;
}

#date-of-film,
#duration-of-film{
    display: none;
}

.change-box{
    padding-bottom: 5px;    
}

.change-film{
    width: 100px;
    background-color: #5A0A0A;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

.change-text{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 100%;
    margin: 0 auto;
    color: #DCAE0B;    
}
/*------------MODAL------------ */
#modal-background{
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width:100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

#modal-card{
    width: 650px;
    height: 300px;
    background: #E3E3E3;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

#close-modal{
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: -5px;
}
/* -------------------------------FILMINFO.HTML--------------------------- */

#sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  overflow-x: hidden;
  padding-top: 80px;
}

#film-title{
    margin: 80px 0 40px 160px;
}

#film-info-container,
.image-container, 
.button-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.sidebar-button{
    width:100px;
    height: 40px;
    padding: 2px;
    font-family: 'Noto Serif', serif;
    background-color: #5A0A0A;
    font-size: 150%;
    border-radius: 10px;
    color: #DCAE0B; 
    text-align: center;
    
}

.sidebar-button p{
    margin: 0
}

#film-info-container{
    padding-left: 160px;
}

#plot-summary-container{
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    background-color: #E3E3E3;
}