@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap: 400, 500, 600, 700');
body {
    background-color: #06061A;
    margin: 0 auto;
    font-family: 'Noto Serif', serif;
}

h1{
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #DCAE0B;
}

.navigation{
    width: 100%;
    height: 100px;
    background-color: #182F1A;
    position: fixed;
    display: flex;
    padding: 10px 20px;
}

.logo{
    font-size: 150%;
    width: 75%;
    line-height: 75px;
}

.addmovie-container{
    line-height: 45px;
    padding-top: 20px;
    width: 25%;
    display: flex;
    justify-content: center;
}

.addmovie-box{
    background-color: #5A0A0A;
    width: 220px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}