{% extends 'base.html'%}{% block content %} 
<div class="header">
    <h1 class="mellow-yellow">Add Film</h1>
</div>
<div id="add-movie-container" class="flex-center">
    <div class="row">
        <form class="col s12" id="add-movie-form" action="{{ url_for('insert_film') }}" method="POST">
            <div class="input-field col s6">
                <input id="film_name" type="text" class="validate" name="film_name">
                <label for="film_name">Film Name</label>
            </div>
            <div class="input-field col s6">
                <select name="genre">
                <option value="" disabled selected>Genre</option>
                <option value="Action">Action</option>
                <option value="Adventure">Adventure</option>
                <option value="Animation">Animation</option>
                <option value="Comedy">Comedy</option>
                <option value="Crime">Crime</option>
                <option value="Drama">Drama</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Historical">Historical</option>
                <option value="Horror">Horror</option>
                <option value="Musical">Musical</option>
                <option value="Mystery">Mystery</option>
                <option value="Romance">Romance</option>
                <option value="Science fiction">Science fiction</option>
                <option value="Thriller">Thriller</option>
                <option value="Western">Western</option>
                </select>
            </div>
            <div class="input-field col s6">
                <input id="duration" type="text" class="validate" name="duration">
                <label for="duration">Duration</label>
            </div>
            <div class="input-field col s6">
                <input id="release_date" type="text" class="validate" name="release_date">
                <label for="release_date">Release Date (DD/MM/YYYY)</label>
            </div>
            <div class="input-field col s12">
                <input id="movie_poster_url" type="text" class="validate" name="theatrical_poster_url">
                <label for="movie_poster_url">Film Poster URL</label>
            </div>
            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" name="plot_summary"></textarea>
                <label for="textarea1">Plot Summary</label>
            </div>
            <div id="additional-info">
                <div class="input-field col s6">
                    <input type="text" class="director validate" name="director">
                    <label for="director">Director</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" class="producer validate" name="producer">
                    <label for="producer">Producer</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" class="screenplay validate" name="screenplay">
                    <label for="screenplay">Screenplay By</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" class="story validate" name="story">
                    <label for="story">Story By</label>
                </div>
                <div class="input-field col s12">
                    <input type="text" class="starring validate" name="starring">
                    <label for="starring">Starring</label>
                </div>
            </div>
        </form>
        <div class="form-styling" id="notification-box">
            <p id="notification-text">
            In the case of multiple writers, actors etc please place a "," between names
            </p>
        </div>
        <div class="form-styling" id="add-submit">
                <div class="add-submit-box flex-center">
                    <div id="add-more" class="maroon-box" onclick="showMoreInputs()">
                        <p id="add-text" class="mellow-yellow">Extra Info</p>
                    </div>
                </div>
                <div class="add-submit-box flex-center">
                    <input type="submit" value="Submit" id="submit" class="mellow-yellow maroon-box" name="action" onclick="submitForm()" />
                </div>
            </div>
    </div>        
</div>
<script src="{{url_for('static', filename='js/addmovie.js')}}"></script>
{% endblock %}