{% extends 'base.html'%}{% block content %} 
<div id="add-movie-container">
    <div class="row">
        <form class="col s12" id="add-movie-form" action="{{ url_for('insert_film') }}" method="POST">
            <div class="input-field col s6">
                <input id="film_name" type="text" class="validate" name="film_name">
                <label for="film_name">Film Name</label>
            </div>
            <div class="input-field col s6">
                <select name="genre">
                <option value="" disabled selected>Genre</option>
                <option value="Action">Action</option>
                <option value="Adventure">Adventure</option>
                <option value="Comedy">Comedy</option>
                <option value="Crime">Crime</option>
                <option value="Drama">Drama</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Historical">Historical</option>
                <option value="Horror">Horror</option>
                <option value="Mystery">Mystery</option>
                <option value="Romance">Romance</option>
                <option value="Science fiction">Science fiction</option>
                <option value="Thriller">Thriller</option>
                <option value="Western">Western</option>
                <option value="Animation">Animation</option>
                </select>
                <label>Genre</label>
            </div>
            <div class="input-field col s6">
                <input placeholder="Duration" id="duration" type="text" class="validate" name="duration">
                <label for="duration">Duration</label>
            </div>
            <div class="input-field col s6">
                <input placeholder="Release Date" id="release_date" type="text" class="validate" name="release_date">
                <label for="release_date">Release Date</label>
            </div>
            <div class="input-field col s12">
                <input placeholder="URL" id="movie_poster_url" type="text" class="validate" name="theatrical_poster_url">
                <label for="movie_poster_url">Movie Poster URL</label>
            </div>
            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" name="plot_summary"></textarea>
                <label for="textarea1">Plot Summary</label>
            </div>
            <div>
            <input type="submit" value="Submit" id="submit" name="action">
            </div>
        </form>
    </div>        
</div>
{% endblock %}