<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FSRL5ZNZBW"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-FSRL5ZNZBW');
    </script>
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-184381418-1 ', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->

    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potatoes!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
</head>
<body>
    <!-------------------------------- NAVBAR ------------------------------>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
            <a href="{{url_for('home')}}" id="logo" class="brand-logo font-size mellow-yellow">PTT</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons mellow-yellow">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{url_for('home')}}" class="nav-text mellow-yellow">Home</a></li>
                <li>
                    <a id="homepage-9bdd2-1" href="{{url_for('films', page_number=1)}}" class="nav-text mellow-yellow">
                    Explore
                    </a></li>
                <li><a href="{{url_for('add_movie')}}" class="nav-text mellow-yellow">Add Movie</a></li>       
            </ul>
            </div>
        </nav>
    </div>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="{{url_for('home')}}" class="nav-text mellow-yellow">Home</a></li>
        <li><a href="{{url_for('films', page_number=page_number)}}" class="nav-text mellow-yellow">Explore</a></li>
        <li><a href="{{url_for('add_movie')}}" class="nav-text mellow-yellow">Add Movie</a></li>
    </ul>
    <div id="lotr-background"> 
    {% block content %} {% endblock %}
    </div>
    <!--------------------------------- FOOTER ----------------------------->
    <footer>
        <div class="footer-text">
            <p class="mellow-yellow">Interested in seeing more?<span class="footer-span"> Come check out my other work and 
            see what I'm up to through my social media</span></p>
        </div>
        <div class="footer-icons">
            <a href="https://github.com" target="_blank" class="social-icons mellow-yellow"><i class="fab fa-github fa-sm"></i></a>
            <a href="https://twitter.com" target="_blank" class="social-icons mellow-yellow"><i class="fab fa-twitter fa-sm"></i></a>
            <a href="https://instagram.com" target="_blank" class="social-icons mellow-yellow"><i class="fab fa-instagram fa-sm"></i></a>
            <a href="https://facebook.com" target="_blank" class="social-icons mellow-yellow"><i class="fab fa-facebook-f fa-sm"></i></a>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script> 
    <script src="https://kit.fontawesome.com/318689fbdb.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-analytics.js"></script>

    <script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
        apiKey: "AIzaSyD8T9osj_FwWq74ijMiNQjI0eZeB5Dd3JM",
        authDomain: "pleasework-fe9f7.firebaseapp.com",
        databaseURL: "https://pleasework-fe9f7.firebaseio.com",
        projectId: "pleasework-fe9f7",
        storageBucket: "pleasework-fe9f7.appspot.com",
        messagingSenderId: "619294265284",
        appId: "1:619294265284:web:0adcf6711dd5986c5b5e91",
        measurementId: "G-7FDPVNYXKS"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
    </script>
    <script>
    ga(function(tracker) {
    ga("require", "ec");
    ga("ec:addProduct", {
    "id": "9bdd2",
    "name": "Compton T-Shirt",
    "price": "44.00",
    "brand": "Compton",
    "category": "T-Shirts",
    "position": "1"
    });
    ga("ec:setAction", "click", {
    "list": "homepage"
    });
    ga("send", "event", "homepage", "click", "");
    });
</script>
</body>
</html>