<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PO - TAY - TOES!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
</head>
<body>
    <!-------------------------------- NAVBAR ------------------------------>
    <div class="navigation">
        <div class="logo">
            <h1 class="materialize-override"><a href="{{url_for('home')}}" class="font-size mellow-yellow">PTT</a></h1>
        </div>
        <div class="addmovie-container flex-center">
            <div class="maroon-box add-film-box">
                <h1 class="materialize-override"><a href="{{url_for('add_movie')}}" class="font-size mellow-yellow">Add Movie</a></h1>
            </div>
        </div>
    </div>

    {% block content %} {% endblock %}

    <!--------------------------------- FOOTER ----------------------------->
    <footer>
        <div class="footer-text">
            <p class="mellow-yellow">Interested in seeing more?<span class="footer-span"> Come check out my other work and 
            see what I'm up to through my social media</span></p>
        </div>
        <div class="footer-icons">
            <a href="https://github.com" target="_blank" class="social-icons mellow-yellow"><i class="fab fa-github fa-sm"></i></a>
            <a href="https://twitter.com" target="_blank" class="social-icons mellow-yellow"><i class="fab fa-twitter fa-sm"></i></a>
            <a href="https://instagram.com" target="_blank" class="social-icons mellow-yellow"><i class="fab fa-instagram fa-sm"></i></a>
            <a href="https://facebook.com" target="_blank" class="social-icons mellow-yellow"><i class="fab fa-facebook-f fa-sm"></i></a>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/318689fbdb.js"></script>
    <script src="{{url_for('static', filename='libraries/jquery-3.5.0.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
    $(document).ready(function(){
        $('select').formSelect();
    });
    </script>
</body>
</html>