{% extends 'base.html'%}{% block content %} 
<div class="header">
    <h1 class="mellow-yellow">Films</h1>
</div>

<div id="film-container" class="flex-center">
    <!--------------------------------------------------- FILM CARD ----------------------------------------------->
    {% for film in film %}
    <div class="film-card">
        <div class="poster-box">
            <a href="">
                <img class="film-poster" src="{{film.theatrical_poster_url}}" alt="Poster Unavailable"/>
            </a>
        </div>
        <div class="film-info">
            <p class="name-of-film">{{film.film_name}}</p>
            <p class="genre-of-film">{{film.genre}}</p>
            <p class="duration-of-film hidden">{{film.duration}} mins</p>
            <p class="date-of-film hidden">{{film.release_date}}</p> 
            <p class="plot-summary hidden">{{film.plot_summary}}</p> 
            <p class="director hidden">{{film.director}}</p>
            <p class="producer hidden">{{film.producer}}</p>
            <p class="screenplay hidden">{{film.screenplay}}</p>
            <p class="story hidden">{{film.story}}</p>
            <p class="starring hidden">{{film.starring}}</p>
            <div class="view-more-box">
                <div class="view-more maroon-box" onclick="viewMoreModal()">
                    <h1 class="view-more-text mellow-yellow">View More</h1>
                </div>
            </div>
        </div>
        <!--To allow js file to access each film_id-->
        <a class="edit-film-link" href="{{url_for('edit_film', film_id=film._id)}}"></a>
        <a class="delete-film-link" href="{{url_for('delete_film',film_id=film._id)}}"></a>
    </div>
    {% endfor %}
    <!------------------------------------------------------- MODAL ---------------------------------------------->
    <div id="modal-background">
        <div class="modal-card">
            <!--------------------POSTER SIDE---------------------->
            <div id="poster-side">
                <div id="expanded-poster-box">
                    <img id="expanded-card-image" class="expanded-card-elements flex-center"/>
                    <div id="change-wrapper">
                        <div class="change-box">
                            <div class="change-film maroon-box">
                                <h1 class="change-text">
                                <!-- href for editfilm.html is above modal and inserted with js -->
                                <a id="edit" class="mellow-yellow">Edit Film</a>
                                </h1>
                            </div>
                        </div>
                        <div class="change-box">
                            <div class="change-film maroon-box" onclick="confirmDeleteMessage()">
                                <h1 class="change-text mellow-yellow">Delete Film</h1>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>

            <!--------------------INFO SIDE---------------------->
            <div id="info-side">
                <div id="expanded-title-box" class="expanded-card-elements">
                    <h5 id="expanded-card-title" class="expanded-card-text"></h5>
                </div>
                <div id="expanded-summary-box" class="expanded-card-elements">
                    <p id="expanded-plot-summary" class="expanded-card-text"></p>
                </div>
                <div id="required-information-box" class="expanded-card-elements flex-center">
                    <div id="expanded-genre-box" class="inline-info-boxes">
                        <p id="expanded-genre" class="expanded-card-text"></p>
                    </div>
                    <div id="expanded-duration-box" class="inline-info-boxes">
                        <p id="expanded-duration" class="expanded-card-text"></p>
                    </div>
                    <div id="expanded-date-box" class="inline-info-boxes">
                        <p id="expanded-date" class="expanded-card-text"></p>
                    </div>
                </div>

                <!-----------------EXTRA INFO------------------>
                <div id="extra-info">
                    <div id="director-and-co" class="extra-info-box">
                    </div>
                    <div id="actors" class="extra-info-box">
                    </div>
                </div>

            </div>
            <div id="close-modal" onclick="closeModal()">&times</div>
        </div>
    </div>

    <!-- CONFIRM DELETE MODAL -->
    <div id="confirm-modal-background">
        <div class="modal-card" id="confirm-card">
            <div id="message-box">
                <p id="confirm-message"></p>
            </div>
            <div id="confirm-box-container" class="flex-center">
                <div class="confirm-wrapper flex-center">
                    <div class="confirm-boxes maroon-box">
                        <a id="delete-film">
                            <p id="confirm-delete" class="mellow-yellow">Yes</p>
                        </a>
                    </div>
                </div>
                <div class="confirm-wrapper flex-center">
                    <div class="confirm-boxes maroon-box" onclick="returnToModal()">
                        <p id="stop-delete" class="mellow-yellow">No</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='js/films.js')}}"></script>
{% endblock %}