{% extends 'base.html'%}{% block content %} 

<div id="film-container">
    {% for category in films %}
    <div class="film-card">
        <div class="poster-box">
            <a href="">
                <img class="film-poster" src="{{category.theatrical_poster_url}}" alt="Poster Unavailable"/>
            </a>
        </div>
        <div class="film-info">
            <p id="name-of-film">{{category.film_name}}</p>
            <p id="genre-of-film">{{category.genre}}</p>
            <p id="duration-of-film">{{category.duration}} mins</p>
            <p id="date-of-film">{{category.release_date}}</p> 
            <div class="view-more-box">
                <div class="view-more">
                    <h1 class="view-more-text">View More</h1>
                </div>
            </div>
            <!-- <div class="change-box">
                <div class="change-film">
                    <h1 class="change-text">Edit Film</h1>
                </div>
            </div>
            <div class="change-box">
                <div class="change-film">
                    <h1 class="change-text">Delete Film</h1>
                </div>
            </div>         -->
        </div>
    </div>
    {% endfor %}
    <div id="modal-background">
        <div id="modal-card">
            <div id="poster-side">
            </div>
            <div id="info-side">
            </div>
            <div id="close-modal">&times</div>
        </div>
    </div>
</div>
{% endblock %}