{% extends 'base.html'%}{% block content %} 
    <!--------------------------------- TITLE ------------------------------>
    <div class="title flex-center">
        <h1 class="materialize-override mellow-yellow">PO - TAY - TOES!</h1>
    </div>
    <div class="explore-container flex-center">
        <div class="maroon-box flex-center add-film-box waves-effect">
            <h1 class="materialize-override "><a href="{{url_for('films')}}" class="font-size mellow-yellow">Explore</a></h1>
        </div>
    </div>
    <!-------------------------------- CALENDER ---------------------------->
    <div id="top-of-calender"></div>
    <div class="blue-background">
        <div class="page-line" ></div>

        <div class="calendar-header flex-center">
            <h1 class="materialize-override mellow-yellow">Film Release Calendar</h1>
        </div>

        <div class="page-line"></div>
    </div>
    <div id="calendar-container" class="flex-center">
        <div id="calendar">
            <div id="calendar-nav" class="flex-center">
                <i class="fas fa-chevron-left" onclick="previousmonth()"></i>
                <div id="month" class="mellow-yellow"></div>
                <i class="fas fa-chevron-right" onclick="nextmonth()"></i>
            </div>
            <div id="calendar-year" class="flex-center">
                <i class="fas fa-chevron-left" id="previous-year" onclick="previousyear()"></i>
                <div id="year" class="mellow-yellow"></div>
                <i class="fas fa-chevron-right" id="next-year" onclick="nextyear()"></i>
            </div>
            <div id="day-labels" class="flex-center"></div>
            <table id="calendar-days">
            </table>
        </div>
    </div>
    
    {% for film in film %}
    <div id="" class="hidden film-data">
        <p>{{url_for('edit_film', film_id=film._id)}}</p>
        <p>{{url_for('delete_film',film_id=film._id)}}</p>
        <p class="posters-for-calendar">{{film.theatrical_poster_url}}</p>
        <p>{{film.producer}}</p>
        <p>{{film.director}}</p>
        <p>{{film.duration}}</p>
        <p>{{film.film_name}}</p>
        <p>{{film.genre}}</p>
        <p class="dates-for-calendar">{{film.release_date}}</p>
        <p>{{film.screenplay}}</p>
        <p>{{film.story}}</p>
        <p>{{film.starring}}</p>
        <p>{{film.plot_summary}}</p>
    </div>
    {% endfor %}
    
    <div id="modal-background">
    </div>

    <!-- CONFIRM DELETE MODAL -->
    <div id="confirm-modal-background">
    </div>

<script src="{{url_for('static', filename='js/modal.js')}}"></script>
<script src="{{url_for('static', filename='js/index.js')}}"></script>

{% endblock %}
