{% extends 'base.html'%}{% block content %} 
    <!--------------------------------- TITLE ------------------------------>
    <div class="title">
        <h1>PO - TAY - TOES!</h1>
    </div>
    <div class="explore-container">
        <div class="maroon-box">
            <h1><a href="#">Explore</a></h1>
        </div>
    </div>
    <!-------------------------------- CALENDER ---------------------------->
    <div class="page-line"></div>

    <div class="calendar-header">
        <h1>Film Release Calendar</h1>
    </div>

    <div class="page-line"></div>

    <div id="calendar-container">
        <div id="calendar">
            <div id="month"></div>
            <div id="day-labels"></div>
            <table id="calendar-days">
            </table>
        </div>
    </div>
{% endblock %}